body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 255, 250);
}

.container {
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    /* background-color: rgb(240, 148, 44); */
    display: flex;
}

.ball-container {
    display: flex;
}

.ball {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    animation: bounceBall 0.5s ease infinite;
}

.ball-shadow {
    width: 40px;
    height: 10px;
    position: absolute;
    background-color: rgb(173, 173, 173);
    z-index: -1;
    border-radius: 50%;
    transform: translateY(30px);
    animation: bounceShadow 0.5s ease infinite;
}

.ball::before {
    width: 100px;
    height: 100px;
    border-bottom: 5px solid black;
    position: absolute;
    z-index: 1;
}

@keyframes bounceBall{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(20px, -20px);
    }
    50%{
        transform: translate(20px,0px);
    }
    100%{
        transform: translate(-20px,0px);
        transform: scaleY(.7);
    }
}

@keyframes bounceShadow{
    0%{
        transform: translate(10px, 30px);
    }
    25%{
        transform: translate(20px, 30px);
        
    }
    50%{
        transform: translate(20px, 30px);
    }
    100%{
        transform: translate(0px, 30px);
    }
}